{% extends "index.html" %}

{% block title %} search {% endblock %}

{% block body %} 
<body>
    <form action="/search/" method="POST">
        {% csrf_token %}
        <input type="text" name="name" id="name"><br>
        <input type="date" name="date" id="date"><br>
        {% for each_exam in exams %}
            {{each_exam}}
            {{each_exam.id}}
            <input type="checkbox" name="exam__in" value="{{each_exam.id}}"><br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</body>
{% endblock %}